{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">

    <h1>Masters in Information System at NJIT </h1>

  </div>
</div>
<div class="container">
  <p> The university’s multidisciplinary curriculum and computing-intensive approach to education provide the technological proficiency, business know-how, and leadership skills that future CEOs and entrepreneurs will need to succeed. With an enrollment of over 11,400 undergraduate and graduate students, NJIT offers small-campus intimacy with the resources of a major public research university</p>
</div>

{% endblock %}
