<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Courses at NJIT <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://cs.njit.edu/academics/graduate/mscs.php">Computer Science</a></li>
            <li><a href="http://informatics.njit.edu/">Informatics</a></li>
            <li><a href="http://cs.njit.edu/academics/graduate/mscsp.php">Masters in Cyber Security</a></li>
            <li><a href="http://cs.njit.edu/ms-data-science/">Masters in Data Science</a></li>
            <li><a href="http://cs.njit.edu/academics/graduate/ms-se/Master_of_Science_in_Software_Engineering.php">Masters in Software Engineering</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev Center</a>
      </li>
    </ul>
  </div>
</nav>
